<template>
  <div class="header">
    <div class="img-box">
     <img alt="Vue logo" src="../assets/logo_mobile.png">
    </div>
    <h2>{{ title }}</h2>
  </div>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Header',
  props: {
    title: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .header{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(260deg, rgb(202, 202, 99), rgb(55, 201, 55));
    }
    h2{
      font-family: "Poppins", sans-serif;
      font-size: 2.5rem;
      font-weight: bolder;
      color: white;
    }
    img{
      object-fit: centersss;
      width: 100%;
      height: 100%;
    }
    .img-box{
      display: flex;
      justify-content: center;
      height: 100px;
      width: 100px;
    }
</style>
