<template>





<div class="card" :id="product.id" style="width: 18rem;">
  <img :src="require(`../assets/${product.src}`)" class="card-img-top img" alt="...">
  <div class="card-body">
    <hr>
    <h5 class="card-title">{{product.name }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <p>{{ product.price }} xcfa</p>
    <hr>
       <div class="card-body icon">
        <span class="material-icons" @click="updateItem">edit</span>
        <span class="material-icons delete" @click="deleteItem">delete</span>
      </div>
  </div>
</div>

</template>

<script>
import axios from "axios"
const base_url = "  http://localhost:3000/products"
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "Product",
  props: {
   product:{},
   index:Number
  },
  methods: {
      test(){
           console.log(this.$props.product);
      },
      deleteItem(){
          axios.delete(`${base_url}/${this.product.id}`)
          .then(()=>{this.$emit("deleteItem", {id: this.product.id})})
          .catch((err)=>{console.log(err);})
      },
      updateItem(){
        this.$emit("updateItem", {obj: this.product, action: "jaune"})
      }

  },
  mounted(){
     
  }
};
</script>

<style scoped>

.icon {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(62, 255, 44);
}
.icon span {
  font-size: 2.5rem;
  cursor: pointer;
}
.icon .delete {
  color: red;
}

.img{
  height: 200px;
  width: 100%;
}

</style>
