<template>
  <Header title="Welcome To My CRUD App" />
  <div class="section-top">
    <nav class="navbar navbar-primary bg-dark text-white bg-opacity-75">
      <div class="container-fluid">
        <div class="navbar-brand mb-0 h1 fs- h1">Liste de produit</div>
        <div class="navbar-brand mb-0">
          <input type="text" class="" placeholder="Recherche..." v-model="searchKey" />
          <span class="material-icons fs-5">search</span>
        </div>
      </div>
    </nav>
  </div>

  <div class="" style="margin-left: 30px">
    <button
      type="button"
      @click="reload"
      class="col-md-6 mt-2 mb-2 fs-4 btn btn-success btn-container btn-lg material-icon"
      data-bs-toggle="modal"
      data-bs-target="#myModal"
      style="width: 10%; border-radius: 5%"
      id="pop"
    >
      Ajouter
      <span class="material-icons fs-3">add</span>
    </button>
  </div>
  <div class="product-list" v-if="isEmpty">
     <Products v-for="(item, key) in filterList" 
     :key="item.id" 
     :index="key"
     :product="item" 
     @deleteItem="removeItem"
     @updateItem="updateItem"/>
  </div>
  <div class="product-list-empty " v-else>
    <div class="alert bg-warning">
      <h2>Aucun produits trouves</h2>
    </div>
  </div>
   <div class="container mt-5" @mouseleave="id=0">
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div
            class="modal-header text-white"
            :class="{
              'bg-success': action == 'vert',
              'bg-warning': action == 'jaune',
            }"
          >
            <h5 class="modal-title">
              {{ id == 0 ? "Ajouter un produit" : "Modifier un produit" }}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              @click="id=0"
            ></button>
          </div>
          <div class="modal-body">
            <form action="" class="">
              <div class="form-group row mb-2">
                <div class="col-md-2">
                  <label for="pName" class="col-form-label">Nom</label>
                  <span class="text-danger">*</span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  v-model="name"
                  required
                />
              </div>
              <div class="form-group row mb-2">
                <div class="col-md-2">
                  <label for="pPrix" class="col-form-label">Prix</label>
                  <span class="text-danger">*</span>
                </div>
                <input
                  type="number"
                  class="form-control"
                  id="prix"
                  v-model="price"
                  required
                />
              </div>
              <div class="form-group row mb-2">
                <div class="col-md-3">
                  <label for="pdesc" class="col-form-label">Description</label>
                  <span class="text-danger">*</span>
                </div>
                <textarea
                  name="pdesc"
                  id="desc"
                  cols="30"
                  class="form-control"
                  rows="5"
                  v-model="desc"
                  required
                ></textarea>
              </div>

              <div class="form-group  mb-2">
                <label
                  for="imageSrc"
                  class="col-form-label col-md-4 btn btn-sm mt-2 fs-5 text-white"
                  :class="{
                    'bg-success': action == 'vert',
                    'bg-warning': action == 'jaune',
                  }"
                  style="font-weight: bold"
                  >Image<br /><span class="material-icons fs-1">{{
                    id == 0 ? "add" : "edit"
                  }}</span>
                </label>
                <img
                  src="./assets/logo_mobile.png"
                  id="imageAff"
                  class="col-md-8"
                  alt="image choisie"
                />
                <input
                   hidden
                  type="file"
                  class="col-md-0"
                  name="imageSrc"
                  id="imageSrc"
                  accept=".png, .jpg, .jpeg"
                  v-on:change="reloadImg"
                />
              </div>
              <input
                type="submit"
                value=""
                id="sub"
                style="opacity: 0; width: 0px; height: 0px"
              />
            </form>
          </div>
          <div class="modal-footer row mb-2">
            <button
              type="submit"
              class="btn btn-primary btn-sm col-sm-2"
              :class="{
                'bg-success': action == 'vert',
                'bg-warning': action == 'jaune',
              }"
              id="valid"
              @click="ActionProduct"
            >
              {{ id == 0 ? "Ajouter" : "Modifier" }}
            </button>
            <button
              class="btn btn-danger offset-8 btn-sm col-sm-2"
              id="cancel"
              data-bs-dismiss="modal"
              @click="reload"
            >
              Annuler
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="module">
import axios from "axios";
import Header from "./components/Header.vue";
import Products from "./components/Poducts.vue"
const base_url = "http://localhost:3000/products";

export default {
  name: "App",
  components: {
    Header,
    Products,
  },
  data() {
    return {
      products: [],
      searchKey: "",
      action: "vert",
      desc:"",
      id: Number,
      name: "",
      price: 0,
      src: "logo_mobile.png"
    };
  },
  computed: {
    filterList(){
      return this.products.filter((product)=>{
        return product.description.toLowerCase().includes(this.searchKey.toLowerCase()) || product.name.toLowerCase().includes(this.searchKey.toLowerCase())
      })
    }
  },
  methods: {
    initList(){
      axios
            .get(base_url)
            .then((res) => {
              this.products = res.data;
             
            })
            .catch((err) => {
              console.log(err);
            });
    },
    isEmpty: function () {
      this.products.length > 0 ? false : true;
    },
    isOpen: function () {
      this.openModal ? (this.openModal = false) : (this.openModal = true);
    },
    removeItem(obj){
            this.products=this.products.filter((product) => product.id != obj.id);
    },
    updateItem: function (obj){
      console.log(obj);
        this.action = obj.action;
        this.id = obj.obj.id;
        this.name = obj.obj.name;
        this.desc = obj.obj.description;
        this.price = obj.obj.price;
        this.src = obj.obj.src;
        setTimeout(()=>{
          document.querySelector("#pop").click();
        console.log("salut");
        }, 500)
        
    },
    addproduct(obj){
        axios.post(base_url, obj).then(()=>{
            this.initList();
        })
    },
    reload() {
      if(this.id == 0){
      this.action = "vert";
      this.id = 0;
      this.name = "";
      this.price = 0;
      this.desc = "";
      }
      
    },
    ActionProduct(){
      
      if (this.action == "vert") {
       const obj = {
          name: this.name,
          price: this.price,
          description: this.desc,
          src: "logo_mobile.png",
        }
        this.addproduct(obj);
         document.getElementById("cancel").click();
      
      } else {
        const obj = {
          id: this.id,
          name: this.name,
          price: this.price,
          description: this.desc,
          src: "logo_mobile.png",
        }
        axios.put(`${base_url}/${this.id}`, obj).then(()=>{
           this.id = 0;
        this.initList();
        });
       
      }
    }
  },

  created() {
   axios
            .get(base_url)
            .then((res) => {
              this.products = res.data;
               console.log("k");
            })
            .catch((err) => {
              console.log(err);
            });
  },
};
</script>

<style scoped>
#app {
  font-family: "Poopins", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.section-top {
  width: 100%;
}
.product-list-empty{
  margin: 20px;
  display: flex;
  align-items: center;
}
.product-list{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
</style>
